<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletLogin</servlet-name>
        <servlet-class>controlador.ServletLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAlta</servlet-name>
        <servlet-class>controlador.ServletAlta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDeBorrado</servlet-name>
        <servlet-class>controlador.ServletDeBorrado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletModificacion</servlet-name>
        <servlet-class>controlador.ServletModificacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletBusqueda</servlet-name>
        <servlet-class>controlador.ServletBusqueda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletBusquedaDirectores</servlet-name>
        <servlet-class>controlador.ServletBusquedaDirectores</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletLogin</servlet-name>
        <url-pattern>/ServletLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAlta</servlet-name>
        <url-pattern>/ServletAlta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDeBorrado</servlet-name>
        <url-pattern>/ServletDeBorrado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletModificacion</servlet-name>
        <url-pattern>/ServletModificacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletBusqueda</servlet-name>
        <url-pattern>/ServletBusqueda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletBusquedaDirectores</servlet-name>
        <url-pattern>/ServletBusquedaDirectores</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
